


Library/              
Temp/                
obj/                   
Build/                  
UserSettings/           


*.csproj                
*.unityproj            
*.sln                  
*.user                  
*.userprefs             
*.pidb                  
*.suo                   
.vs/                    
.idea/                  


Packages/               


Logs/                 


*.DS_Store         
.Trashes                
*.bak                   
*.swap                  
*.asset.meta            
*.unity.meta            


ProjectSettings/EditorBuildSettings.asset 
ProjectSettings/GraphicsSettings.asset  
ProjectSettings/InputManager.asset      
ProjectSettings/NavMeshAreas.asset   
ProjectSettings/Physics2DSettings.asset 
ProjectSettings/ProjectVersion.asset    
ProjectSettings/TagManager.asset        



*.unitypackage          
AssetStoreTools/        

